.formatted_post_date_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.separator {
    display: flex;
    width: 3.5px;
    height: 3.5px;
    border-radius: 50%;
    background-color: var(--separator_background-color_global);
    margin: 0 7px;
}

@media (max-width: 1250px) {
    .separator_full_post {
        width: 2.8px;
        height: 2.8px;
        margin: 0 6px;
    }
}


@media (max-width: 365px) {
    .separator_post_preview {
        width: 2.9px;
        height: 2.9px;
    }
}

@media (max-width: 325px) {
    .separator_full_post {
        width: 2.2px;
        height: 2.2px;
    }
}