.posts_wrap {
  margin-bottom: 50px;
}

@media (max-width: 860px) {
  .posts_wrap {
    margin-bottom: 0px;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.loader_first_loading {
  height: 500px;
}

@media (max-width: 1000px) {
  .loader_first_loading {
    height: 500px;
  }
}

.loader_infinite_scroll {
  top: 25px;
}

@media (max-width: 860px) {
  .loader_infinite_scroll {
    top: 20px;
  }
}